<div class="row">
  <div class="col col-25">カリウム</div>
  <div ng-if="gender == 'male' && ageClass == 1" class="col text-center">-</div>
  <div ng-if="gender == 'male' && ageClass == 1" class="col text-center">400<span class="unit-milli">mg</span></div>
  <div ng-if="gender == 'male' && ageClass == 1" class="col text-center">-</div>
  <div ng-if="gender == 'male' && (ageClass == 2 || ageClass == 3)" class="col text-center">-</div>
  <div ng-if="gender == 'male' && (ageClass == 2 || ageClass == 3)" class="col text-center">700<span class="unit-milli">mg</span></div>
  <div ng-if="gender == 'male' && (ageClass == 2 || ageClass == 3)" class="col text-center">-</div>
  <div ng-if="gender == 'male' && ageClass == 4" class="col text-center">-</div>
  <div ng-if="gender == 'male' && ageClass == 4" class="col text-center">900<span class="unit-milli">mg</span></div>
  <div ng-if="gender == 'male' && ageClass == 4" class="col text-center">-</div>
  <div ng-if="gender == 'male' && ageClass == 5" class="col text-center">-</div>
  <div ng-if="gender == 'male' && ageClass == 5" class="col text-center">1100<span class="unit-milli">mg</span></div>
  <div ng-if="gender == 'male' && ageClass == 5" class="col text-center">-</div>
  <div ng-if="gender == 'male' && ageClass == 6" class="col text-center">-</div>
  <div ng-if="gender == 'male' && ageClass == 6" class="col text-center">1300<span class="unit-milli">mg</span></div>
  <div ng-if="gender == 'male' && ageClass == 6" class="col text-center">-</div>
  <div ng-if="gender == 'male' && ageClass == 7" class="col text-center">-</div>
  <div ng-if="gender == 'male' && ageClass == 7" class="col text-center">1600<span class="unit-milli">mg</span></div>
  <div ng-if="gender == 'male' && ageClass == 7" class="col text-center">-</div>
  <div ng-if="gender == 'male' && ageClass == 8" class="col text-center">-</div>
  <div ng-if="gender == 'male' && ageClass == 8" class="col text-center">1900<span class="unit-milli">mg</span></div>
  <div ng-if="gender == 'male' && ageClass == 8" class="col text-center">-</div>
  <div ng-if="gender == 'male' && ageClass == 9" class="col text-center">-</div>
  <div ng-if="gender == 'male' && ageClass == 9" class="col text-center">2400<span class="unit-milli">mg</span></div>
  <div ng-if="gender == 'male' && ageClass == 9" class="col text-center">-</div>
  <div ng-if="gender == 'male' && ageClass == 10" class="col text-center">-</div>
  <div ng-if="gender == 'male' && ageClass == 10" class="col text-center">2800<span class="unit-milli">mg</span></div>
  <div ng-if="gender == 'male' && ageClass == 10" class="col text-center">-</div>
  <div ng-if="gender == 'male' && ageClass == 11" class="col text-center">-</div>
  <div ng-if="gender == 'male' && ageClass == 11" class="col text-center">2500<span class="unit-milli">mg</span></div>
  <div ng-if="gender == 'male' && ageClass == 11" class="col text-center">-</div>
  <div ng-if="gender == 'male' && ageClass == 12" class="col text-center">-</div>
  <div ng-if="gender == 'male' && ageClass == 12" class="col text-center">2500<span class="unit-milli">mg</span></div>
  <div ng-if="gender == 'male' && ageClass == 12" class="col text-center">-</div>
  <div ng-if="gender == 'male' && ageClass == 13" class="col text-center">-</div>
  <div ng-if="gender == 'male' && ageClass == 13" class="col text-center">2500<span class="unit-milli">mg</span></div>
  <div ng-if="gender == 'male' && ageClass == 13" class="col text-center">-</div>
  <div ng-if="gender == 'male' && ageClass == 14" class="col text-center">-</div>
  <div ng-if="gender == 'male' && ageClass == 14" class="col text-center">2500<span class="unit-milli">mg</span></div>
  <div ng-if="gender == 'male' && ageClass == 14" class="col text-center">-</div>

  <div ng-if="gender == 'female' && ageClass == 1" class="col text-center">-</div>
  <div ng-if="gender == 'female' && ageClass == 1" class="col text-center">400<span class="unit-milli">mg</span></div>
  <div ng-if="gender == 'female' && ageClass == 1" class="col text-center">-</div>
  <div ng-if="gender == 'female' && (ageClass == 2 || ageClass == 3)" class="col text-center">-</div>
  <div ng-if="gender == 'female' && (ageClass == 2 || ageClass == 3)" class="col text-center">700<span class="unit-milli">mg</span></div>
  <div ng-if="gender == 'female' && (ageClass == 2 || ageClass == 3)" class="col text-center">-</div>
  <div ng-if="gender == 'female' && ageClass == 4" class="col text-center">-</div>
  <div ng-if="gender == 'female' && ageClass == 4" class="col text-center">800<span class="unit-milli">mg</span></div>
  <div ng-if="gender == 'female' && ageClass == 4" class="col text-center">-</div>
  <div ng-if="gender == 'female' && ageClass == 5" class="col text-center">-</div>
  <div ng-if="gender == 'female' && ageClass == 5" class="col text-center">1000<span class="unit-milli">mg</span></div>
  <div ng-if="gender == 'female' && ageClass == 5" class="col text-center">-</div>
  <div ng-if="gender == 'female' && ageClass == 6" class="col text-center">-</div>
  <div ng-if="gender == 'female' && ageClass == 6" class="col text-center">1200<span class="unit-milli">mg</span></div>
  <div ng-if="gender == 'female' && ageClass == 6" class="col text-center">-</div>
  <div ng-if="gender == 'female' && ageClass == 7" class="col text-center">-</div>
  <div ng-if="gender == 'female' && ageClass == 7" class="col text-center">1500<span class="unit-milli">mg</span></div>
  <div ng-if="gender == 'female' && ageClass == 7" class="col text-center">-</div>
  <div ng-if="gender == 'female' && ageClass == 8" class="col text-center">-</div>
  <div ng-if="gender == 'female' && ageClass == 8" class="col text-center">1800<span class="unit-milli">mg</span></div>
  <div ng-if="gender == 'female' && ageClass == 8" class="col text-center">-</div>
  <div ng-if="gender == 'female' && ageClass == 9" class="col text-center">-</div>
  <div ng-if="gender == 'female' && ageClass == 9" class="col text-center">2200<span class="unit-milli">mg</span></div>
  <div ng-if="gender == 'female' && ageClass == 9" class="col text-center">-</div>
  <div ng-if="gender == 'female' && ageClass == 10" class="col text-center">-</div>
  <div ng-if="gender == 'female' && ageClass == 10" class="col text-center">2100<span class="unit-milli">mg</span></div>
  <div ng-if="gender == 'female' && ageClass == 10" class="col text-center">-</div>
  <div ng-if="gender == 'female' && ageClass == 11" class="col text-center">-</div>
  <div ng-if="gender == 'female' && ageClass == 11" class="col text-center">2000<span class="unit-milli">mg</span></div>
  <div ng-if="gender == 'female' && ageClass == 11" class="col text-center">-</div>
  <div ng-if="gender == 'female' && ageClass == 12" class="col text-center">-</div>
  <div ng-if="gender == 'female' && ageClass == 12" class="col text-center">2000<span class="unit-milli">mg</span></div>
  <div ng-if="gender == 'female' && ageClass == 12" class="col text-center">-</div>
  <div ng-if="gender == 'female' && ageClass == 13" class="col text-center">-</div>
  <div ng-if="gender == 'female' && ageClass == 13" class="col text-center">2000<span class="unit-milli">mg</span></div>
  <div ng-if="gender == 'female' && ageClass == 13" class="col text-center">-</div>
  <div ng-if="gender == 'female' && ageClass == 14" class="col text-center">-</div>
  <div ng-if="gender == 'female' && ageClass == 14" class="col text-center">2000<span class="unit-milli">mg</span></div>
  <div ng-if="gender == 'female' && ageClass == 14" class="col text-center">-</div>
</div>
