<div class="row">
  <div class="col col-33">ナイアシン (mg)</div>
  <div ng-if="gender == 'male' && ageClass == 1" class="col text-center">-</div>
  <div ng-if="gender == 'male' && ageClass == 1" class="col text-center">2</div>
  <div ng-if="gender == 'male' && ageClass == 1" class="col text-center">-</div>
  <div ng-if="gender == 'male' && (ageClass == 2 || ageClass == 3)" class="col text-center">-</div>
  <div ng-if="gender == 'male' && (ageClass == 2 || ageClass == 3)" class="col text-center">3</div>
  <div ng-if="gender == 'male' && (ageClass == 2 || ageClass == 3)" class="col text-center">-</div>
  <div ng-if="gender == 'male' && ageClass == 4" class="col text-center">5</div>
  <div ng-if="gender == 'male' && ageClass == 4" class="col text-center">-</div>
  <div ng-if="gender == 'male' && ageClass == 4" class="col text-center">60</div>
  <div ng-if="gender == 'male' && ageClass == 5" class="col text-center">7</div>
  <div ng-if="gender == 'male' && ageClass == 5" class="col text-center">-</div>
  <div ng-if="gender == 'male' && ageClass == 5" class="col text-center">80</div>
  <div ng-if="gender == 'male' && ageClass == 6" class="col text-center">9</div>
  <div ng-if="gender == 'male' && ageClass == 6" class="col text-center">-</div>
  <div ng-if="gender == 'male' && ageClass == 6" class="col text-center">100</div>
  <div ng-if="gender == 'male' && ageClass == 7" class="col text-center">11</div>
  <div ng-if="gender == 'male' && ageClass == 7" class="col text-center">-</div>
  <div ng-if="gender == 'male' && ageClass == 7" class="col text-center">150</div>
  <div ng-if="gender == 'male' && ageClass == 8" class="col text-center">13</div>
  <div ng-if="gender == 'male' && ageClass == 8" class="col text-center">-</div>
  <div ng-if="gender == 'male' && ageClass == 8" class="col text-center">200</div>
  <div ng-if="gender == 'male' && ageClass == 9" class="col text-center">15</div>
  <div ng-if="gender == 'male' && ageClass == 9" class="col text-center">-</div>
  <div ng-if="gender == 'male' && ageClass == 9" class="col text-center">250</div>
  <div ng-if="gender == 'male' && ageClass == 10" class="col text-center">16</div>
  <div ng-if="gender == 'male' && ageClass == 10" class="col text-center">-</div>
  <div ng-if="gender == 'male' && ageClass == 10" class="col text-center">300</div>
  <div ng-if="gender == 'male' && ageClass == 11" class="col text-center">15</div>
  <div ng-if="gender == 'male' && ageClass == 11" class="col text-center">-</div>
  <div ng-if="gender == 'male' && ageClass == 11" class="col text-center">300</div>
  <div ng-if="gender == 'male' && ageClass == 12" class="col text-center">15</div>
  <div ng-if="gender == 'male' && ageClass == 12" class="col text-center">-</div>
  <div ng-if="gender == 'male' && ageClass == 12" class="col text-center">350</div>
  <div ng-if="gender == 'male' && ageClass == 13" class="col text-center">14</div>
  <div ng-if="gender == 'male' && ageClass == 13" class="col text-center">-</div>
  <div ng-if="gender == 'male' && ageClass == 13" class="col text-center">350</div>
  <div ng-if="gender == 'male' && ageClass == 14" class="col text-center">13</div>
  <div ng-if="gender == 'male' && ageClass == 14" class="col text-center">-</div>
  <div ng-if="gender == 'male' && ageClass == 14" class="col text-center">300</div>

  <div ng-if="gender == 'female' && ageClass == 1" class="col text-center">-</div>
  <div ng-if="gender == 'female' && ageClass == 1" class="col text-center">2</div>
  <div ng-if="gender == 'female' && ageClass == 1" class="col text-center">-</div>
  <div ng-if="gender == 'female' && (ageClass == 2 || ageClass == 3)" class="col text-center">-</div>
  <div ng-if="gender == 'female' && (ageClass == 2 || ageClass == 3)" class="col text-center">3</div>
  <div ng-if="gender == 'female' && (ageClass == 2 || ageClass == 3)" class="col text-center">-</div>
  <div ng-if="gender == 'female' && ageClass == 4" class="col text-center">5</div>
  <div ng-if="gender == 'female' && ageClass == 4" class="col text-center">-</div>
  <div ng-if="gender == 'female' && ageClass == 4" class="col text-center">60</div>
  <div ng-if="gender == 'female' && ageClass == 5" class="col text-center">7</div>
  <div ng-if="gender == 'female' && ageClass == 5" class="col text-center">-</div>
  <div ng-if="gender == 'female' && ageClass == 5" class="col text-center">80</div>
  <div ng-if="gender == 'female' && ageClass == 6" class="col text-center">8</div>
  <div ng-if="gender == 'female' && ageClass == 6" class="col text-center">-</div>
  <div ng-if="gender == 'female' && ageClass == 6" class="col text-center">100</div>
  <div ng-if="gender == 'female' && ageClass == 7" class="col text-center">10</div>
  <div ng-if="gender == 'female' && ageClass == 7" class="col text-center">-</div>
  <div ng-if="gender == 'female' && ageClass == 7" class="col text-center">150</div>
  <div ng-if="gender == 'female' && ageClass == 8" class="col text-center">12</div>
  <div ng-if="gender == 'female' && ageClass == 8" class="col text-center">-</div>
  <div ng-if="gender == 'female' && ageClass == 8" class="col text-center">200</div>
  <div ng-if="gender == 'female' && ageClass == 9" class="col text-center">14</div>
  <div ng-if="gender == 'female' && ageClass == 9" class="col text-center">-</div>
  <div ng-if="gender == 'female' && ageClass == 9" class="col text-center">250</div>
  <div ng-if="gender == 'female' && ageClass == 10" class="col text-center">13</div>
  <div ng-if="gender == 'female' && ageClass == 10" class="col text-center">-</div>
  <div ng-if="gender == 'female' && ageClass == 10" class="col text-center">250</div>
  <div ng-if="gender == 'female' && ageClass == 11" class="col text-center">11</div>
  <div ng-if="gender == 'female' && ageClass == 11" class="col text-center">-</div>
  <div ng-if="gender == 'female' && ageClass == 11" class="col text-center">250</div>
  <div ng-if="gender == 'female' && ageClass == 12" class="col text-center">12</div>
  <div ng-if="gender == 'female' && ageClass == 12" class="col text-center">-</div>
  <div ng-if="gender == 'female' && ageClass == 12" class="col text-center">250</div>
  <div ng-if="gender == 'female' && ageClass == 13" class="col text-center">11</div>
  <div ng-if="gender == 'female' && ageClass == 13" class="col text-center">-</div>
  <div ng-if="gender == 'female' && ageClass == 13" class="col text-center">250</div>
  <div ng-if="gender == 'female' && ageClass == 14" class="col text-center">10</div>
  <div ng-if="gender == 'female' && ageClass == 14" class="col text-center">-</div>
  <div ng-if="gender == 'female' && ageClass == 14" class="col text-center">250</div>
</div>
