
<div class="row">
  <div class="col-50">エネルギー必要量</div>
  <div class="col-50">
    <div ng-if="gender == 'male'">
      <span ng-if="ageClass == 1 && activeityLevel == 1">-</span>
      <span ng-if="ageClass == 1 && activeityLevel == 2">550</span>
      <span ng-if="ageClass == 1 && activeityLevel == 3">-</span>
      <span ng-if="ageClass == 2 && activeityLevel == 1">-</span>
      <span ng-if="ageClass == 2 && activeityLevel == 2">650</span>
      <span ng-if="ageClass == 2 && activeityLevel == 3">-</span>
      <span ng-if="ageClass == 3 && activeityLevel == 1">-</span>
      <span ng-if="ageClass == 3 && activeityLevel == 2">700</span>
      <span ng-if="ageClass == 3 && activeityLevel == 3">-</span>
      <span ng-if="ageClass == 4 && activeityLevel == 1">-</span>
      <span ng-if="ageClass == 4 && activeityLevel == 2">950</span>
      <span ng-if="ageClass == 4 && activeityLevel == 3">-</span>
      <span ng-if="ageClass == 5 && activeityLevel == 1">-</span>
      <span ng-if="ageClass == 5 && activeityLevel == 2">1350</span>
      <span ng-if="ageClass == 5 && activeityLevel == 3">-</span>
      <span ng-if="ageClass == 6 && activeityLevel == 1">1350</span>
      <span ng-if="ageClass == 6 && activeityLevel == 2">1550</span>
      <span ng-if="ageClass == 6 && activeityLevel == 3">1750</span>
      <span ng-if="ageClass == 7 && activeityLevel == 1">1600</span>
      <span ng-if="ageClass == 7 && activeityLevel == 2">1850</span>
      <span ng-if="ageClass == 7 && activeityLevel == 3">2100</span>
      <span ng-if="ageClass == 8 && activeityLevel == 1">1950</span>
      <span ng-if="ageClass == 8 && activeityLevel == 2">2250</span>
      <span ng-if="ageClass == 8 && activeityLevel == 3">2500</span>
      <span ng-if="ageClass == 9 && activeityLevel == 1">2300</span>
      <span ng-if="ageClass == 9 && activeityLevel == 2">2600</span>
      <span ng-if="ageClass == 9 && activeityLevel == 3">2900</span>
      <span ng-if="ageClass == 10 && activeityLevel == 1">2500</span>
      <span ng-if="ageClass == 10 && activeityLevel == 2">2850</span>
      <span ng-if="ageClass == 10 && activeityLevel == 3">3150</span>
      <span ng-if="ageClass == 11 && activeityLevel == 1">2300</span>
      <span ng-if="ageClass == 11 && activeityLevel == 2">2650</span>
      <span ng-if="ageClass == 11 && activeityLevel == 3">3050</span>
      <span ng-if="ageClass == 12 && activeityLevel == 1">2300</span>
      <span ng-if="ageClass == 12 && activeityLevel == 2">2650</span>
      <span ng-if="ageClass == 12 && activeityLevel == 3">3050</span>
      <span ng-if="ageClass == 13 && activeityLevel == 1">2100</span>
      <span ng-if="ageClass == 13 && activeityLevel == 2">2450</span>
      <span ng-if="ageClass == 13 && activeityLevel == 3">2800</span>
      <span ng-if="ageClass == 14 && activeityLevel == 1">1850</span>
      <span ng-if="ageClass == 14 && activeityLevel == 2">2200</span>
      <span ng-if="ageClass == 14 && activeityLevel == 3">2500</span>
      kcal
    </div>
    <div ng-if="gender == 'female'">
      <span ng-if="ageClass == 1 && activeityLevel == 1">-</span>
      <span ng-if="ageClass == 1 && activeityLevel == 2">500</span>
      <span ng-if="ageClass == 1 && activeityLevel == 3">-</span>
      <span ng-if="ageClass == 2 && activeityLevel == 1">-</span>
      <span ng-if="ageClass == 2 && activeityLevel == 2">600</span>
      <span ng-if="ageClass == 2 && activeityLevel == 3">-</span>
      <span ng-if="ageClass == 3 && activeityLevel == 1">-</span>
      <span ng-if="ageClass == 3 && activeityLevel == 2">650</span>
      <span ng-if="ageClass == 3 && activeityLevel == 3">-</span>
      <span ng-if="ageClass == 4 && activeityLevel == 1">-</span>
      <span ng-if="ageClass == 4 && activeityLevel == 2">900</span>
      <span ng-if="ageClass == 4 && activeityLevel == 3">-</span>
      <span ng-if="ageClass == 5 && activeityLevel == 1">-</span>
      <span ng-if="ageClass == 5 && activeityLevel == 2">1250</span>
      <span ng-if="ageClass == 5 && activeityLevel == 3">-</span>
      <span ng-if="ageClass == 6 && activeityLevel == 1">1250</span>
      <span ng-if="ageClass == 6 && activeityLevel == 2">1450</span>
      <span ng-if="ageClass == 6 && activeityLevel == 3">1650</span>
      <span ng-if="ageClass == 7 && activeityLevel == 1">1500</span>
      <span ng-if="ageClass == 7 && activeityLevel == 2">1700</span>
      <span ng-if="ageClass == 7 && activeityLevel == 3">1900</span>
      <span ng-if="ageClass == 8 && activeityLevel == 1">1850</span>
      <span ng-if="ageClass == 8 && activeityLevel == 2">2100</span>
      <span ng-if="ageClass == 8 && activeityLevel == 3">2350</span>
      <span ng-if="ageClass == 9 && activeityLevel == 1">2150</span>
      <span ng-if="ageClass == 9 && activeityLevel == 2">2400</span>
      <span ng-if="ageClass == 9 && activeityLevel == 3">2700</span>
      <span ng-if="ageClass == 10 && activeityLevel == 1">2050</span>
      <span ng-if="ageClass == 10 && activeityLevel == 2">2400</span>
      <span ng-if="ageClass == 10 && activeityLevel == 3">2700</span>
      <span ng-if="ageClass == 11 && activeityLevel == 1">1650</span>
      <span ng-if="ageClass == 11 && activeityLevel == 2">1950</span>
      <span ng-if="ageClass == 11 && activeityLevel == 3">2200</span>
      <span ng-if="ageClass == 12 && activeityLevel == 1">1750</span>
      <span ng-if="ageClass == 12 && activeityLevel == 2">2000</span>
      <span ng-if="ageClass == 12 && activeityLevel == 3">2300</span>
      <span ng-if="ageClass == 13 && activeityLevel == 1">1650</span>
      <span ng-if="ageClass == 13 && activeityLevel == 2">1900</span>
      <span ng-if="ageClass == 13 && activeityLevel == 3">2200</span>
      <span ng-if="ageClass == 14 && activeityLevel == 1">1500</span>
      <span ng-if="ageClass == 14 && activeityLevel == 2">1750</span>
      <span ng-if="ageClass == 14 && activeityLevel == 3">2000</span>
      kcal

      <!-- TODO pregnant/lactating extras -->

    </div>
  </div>
</div>

