<div class="row">
  <div class="col col-25 keyname">ナトリウム<br/><small>食塩相当量</small></div>
  <div ng-if="gender == 'male' && ageClass == 1" class="col text-center">-</div>
  <div ng-if="gender == 'male' && ageClass == 1" class="col text-center">0.3<span class="unit-g">g</span></div>
  <div ng-if="gender == 'male' && ageClass == 1" class="col text-center">-</div>
  <div ng-if="gender == 'male' && (ageClass == 2 || ageClass == 3)" class="col text-center">-</div>
  <div ng-if="gender == 'male' && (ageClass == 2 || ageClass == 3)" class="col text-center">1.5<span class="unit-g">g</span></div>
  <div ng-if="gender == 'male' && (ageClass == 2 || ageClass == 3)" class="col text-center">-</div>
  <div ng-if="gender == 'male' && ageClass == 4" class="col text-center">-</div>
  <div ng-if="gender == 'male' && ageClass == 4" class="col text-center">-</div>
  <div ng-if="gender == 'male' && ageClass == 4" class="col text-center">3.0<span class="unit-g">g</span>未満</div>
  <div ng-if="gender == 'male' && ageClass == 5" class="col text-center">-</div>
  <div ng-if="gender == 'male' && ageClass == 5" class="col text-center">-</div>
  <div ng-if="gender == 'male' && ageClass == 5" class="col text-center">4.0<span class="unit-g">g</span>未満</div>
  <div ng-if="gender == 'male' && ageClass == 6" class="col text-center">-</div>
  <div ng-if="gender == 'male' && ageClass == 6" class="col text-center">-</div>
  <div ng-if="gender == 'male' && ageClass == 6" class="col text-center">5.0<span class="unit-g">g</span>未満</div>
  <div ng-if="gender == 'male' && ageClass == 7" class="col text-center">-</div>
  <div ng-if="gender == 'male' && ageClass == 7" class="col text-center">-</div>
  <div ng-if="gender == 'male' && ageClass == 7" class="col text-center">5.5<span class="unit-g">g</span>未満</div>
  <div ng-if="gender == 'male' && ageClass == 8" class="col text-center">-</div>
  <div ng-if="gender == 'male' && ageClass == 8" class="col text-center">-</div>
  <div ng-if="gender == 'male' && ageClass == 8" class="col text-center">6.5<span class="unit-g">g</span>未満</div>
  <div ng-if="gender == 'male' && ageClass == 9" class="col text-center">-</div>
  <div ng-if="gender == 'male' && ageClass == 9" class="col text-center">-</div>
  <div ng-if="gender == 'male' && ageClass == 9" class="col text-center">8.0<span class="unit-g">g</span>未満</div>
  <div ng-if="gender == 'male' && ageClass == 10" class="col text-center">-</div>
  <div ng-if="gender == 'male' && ageClass == 10" class="col text-center">-</div>
  <div ng-if="gender == 'male' && ageClass == 10" class="col text-center">8.0<span class="unit-g">g</span>未満</div>
  <div ng-if="gender == 'male' && ageClass == 11" class="col text-center">-</div>
  <div ng-if="gender == 'male' && ageClass == 11" class="col text-center">-</div>
  <div ng-if="gender == 'male' && ageClass == 11" class="col text-center">8.0<span class="unit-g">g</span>未満</div>
  <div ng-if="gender == 'male' && ageClass == 12" class="col text-center">-</div>
  <div ng-if="gender == 'male' && ageClass == 12" class="col text-center">-</div>
  <div ng-if="gender == 'male' && ageClass == 12" class="col text-center">8.0<span class="unit-g">g</span>未満</div>
  <div ng-if="gender == 'male' && ageClass == 13" class="col text-center">-</div>
  <div ng-if="gender == 'male' && ageClass == 13" class="col text-center">-</div>
  <div ng-if="gender == 'male' && ageClass == 13" class="col text-center">8.0<span class="unit-g">g</span>未満</div>
  <div ng-if="gender == 'male' && ageClass == 14" class="col text-center">-</div>
  <div ng-if="gender == 'male' && ageClass == 14" class="col text-center">-</div>
  <div ng-if="gender == 'male' && ageClass == 14" class="col text-center">8.0<span class="unit-g">g</span>未満</div>

  <div ng-if="gender == 'female' && ageClass == 1" class="col text-center">-</div>
  <div ng-if="gender == 'female' && ageClass == 1" class="col text-center">0.3<span class="unit-g">g</span></div>
  <div ng-if="gender == 'female' && ageClass == 1" class="col text-center">-</div>
  <div ng-if="gender == 'female' && (ageClass == 2 || ageClass == 3)" class="col text-center">-</div>
  <div ng-if="gender == 'female' && (ageClass == 2 || ageClass == 3)" class="col text-center">1.5<span class="unit-g">g</span></div>
  <div ng-if="gender == 'female' && (ageClass == 2 || ageClass == 3)" class="col text-center">-</div>
  <div ng-if="gender == 'female' && ageClass == 4" class="col text-center">-</div>
  <div ng-if="gender == 'female' && ageClass == 4" class="col text-center">-</div>
  <div ng-if="gender == 'female' && ageClass == 4" class="col text-center">3.5<span class="unit-g">g</span>未満</div>
  <div ng-if="gender == 'female' && ageClass == 5" class="col text-center">-</div>
  <div ng-if="gender == 'female' && ageClass == 5" class="col text-center">-</div>
  <div ng-if="gender == 'female' && ageClass == 5" class="col text-center">4.5<span class="unit-g">g</span>未満</div>
  <div ng-if="gender == 'female' && ageClass == 6" class="col text-center">-</div>
  <div ng-if="gender == 'female' && ageClass == 6" class="col text-center">-</div>
  <div ng-if="gender == 'female' && ageClass == 6" class="col text-center">5.5<span class="unit-g">g</span>未満</div>
  <div ng-if="gender == 'female' && ageClass == 7" class="col text-center">-</div>
  <div ng-if="gender == 'female' && ageClass == 7" class="col text-center">-</div>
  <div ng-if="gender == 'female' && ageClass == 7" class="col text-center">6.0<span class="unit-g">g</span>未満</div>
  <div ng-if="gender == 'female' && ageClass == 8" class="col text-center">-</div>
  <div ng-if="gender == 'female' && ageClass == 8" class="col text-center">-</div>
  <div ng-if="gender == 'female' && ageClass == 8" class="col text-center">7.0<span class="unit-g">g</span>未満</div>
  <div ng-if="gender == 'female' && ageClass == 9" class="col text-center">-</div>
  <div ng-if="gender == 'female' && ageClass == 9" class="col text-center">-</div>
  <div ng-if="gender == 'female' && ageClass == 9" class="col text-center">7.0<span class="unit-g">g</span>未満</div>
  <div ng-if="gender == 'female' && ageClass == 10" class="col text-center">-</div>
  <div ng-if="gender == 'female' && ageClass == 10" class="col text-center">-</div>
  <div ng-if="gender == 'female' && ageClass == 10" class="col text-center">7.0<span class="unit-g">g</span>未満</div>
  <div ng-if="gender == 'female' && ageClass == 11" class="col text-center">-</div>
  <div ng-if="gender == 'female' && ageClass == 11" class="col text-center">-</div>
  <div ng-if="gender == 'female' && ageClass == 11" class="col text-center">7.0<span class="unit-g">g</span>未満</div>
  <div ng-if="gender == 'female' && ageClass == 12" class="col text-center">-</div>
  <div ng-if="gender == 'female' && ageClass == 12" class="col text-center">-</div>
  <div ng-if="gender == 'female' && ageClass == 12" class="col text-center">7.0<span class="unit-g">g</span>未満</div>
  <div ng-if="gender == 'female' && ageClass == 13" class="col text-center">-</div>
  <div ng-if="gender == 'female' && ageClass == 13" class="col text-center">-</div>
  <div ng-if="gender == 'female' && ageClass == 13" class="col text-center">7.0<span class="unit-g">g</span>未満</div>
  <div ng-if="gender == 'female' && ageClass == 14" class="col text-center">-</div>
  <div ng-if="gender == 'female' && ageClass == 14" class="col text-center">-</div>
  <div ng-if="gender == 'female' && ageClass == 14" class="col text-center">7.0<span class="unit-g">g</span>未満</div>
</div>
