<div class="row">
  <div class="col col-33">ビタミンB<sub>2</sub> (mg)</div>
  <div ng-if="gender == 'male' && ageClass == 1" class="col text-center">-</div>
  <div ng-if="gender == 'male' && ageClass == 1" class="col text-center">0.3</div>
  <div ng-if="gender == 'male' && ageClass == 1" class="col text-center">-</div>
  <div ng-if="gender == 'male' && (ageClass == 2 || ageClass == 3)" class="col text-center">-</div>
  <div ng-if="gender == 'male' && (ageClass == 2 || ageClass == 3)" class="col text-center">0.4</div>
  <div ng-if="gender == 'male' && (ageClass == 2 || ageClass == 3)" class="col text-center">-</div>
  <div ng-if="gender == 'male' && ageClass == 4" class="col text-center">0.6</div>
  <div ng-if="gender == 'male' && ageClass == 4" class="col text-center">-</div>
  <div ng-if="gender == 'male' && ageClass == 4" class="col text-center">-</div>
  <div ng-if="gender == 'male' && ageClass == 5" class="col text-center">0.8</div>
  <div ng-if="gender == 'male' && ageClass == 5" class="col text-center">-</div>
  <div ng-if="gender == 'male' && ageClass == 5" class="col text-center">-</div>
  <div ng-if="gender == 'male' && ageClass == 6" class="col text-center">0.9</div>
  <div ng-if="gender == 'male' && ageClass == 6" class="col text-center">-</div>
  <div ng-if="gender == 'male' && ageClass == 6" class="col text-center">-</div>
  <div ng-if="gender == 'male' && ageClass == 7" class="col text-center">1.1</div>
  <div ng-if="gender == 'male' && ageClass == 7" class="col text-center">-</div>
  <div ng-if="gender == 'male' && ageClass == 7" class="col text-center">-</div>
  <div ng-if="gender == 'male' && ageClass == 8" class="col text-center">1.4</div>
  <div ng-if="gender == 'male' && ageClass == 8" class="col text-center">-</div>
  <div ng-if="gender == 'male' && ageClass == 8" class="col text-center">-</div>
  <div ng-if="gender == 'male' && ageClass == 9" class="col text-center">1.6</div>
  <div ng-if="gender == 'male' && ageClass == 9" class="col text-center">-</div>
  <div ng-if="gender == 'male' && ageClass == 9" class="col text-center">-</div>
  <div ng-if="gender == 'male' && ageClass == 10" class="col text-center">1.7</div>
  <div ng-if="gender == 'male' && ageClass == 10" class="col text-center">-</div>
  <div ng-if="gender == 'male' && ageClass == 10" class="col text-center">-</div>
  <div ng-if="gender == 'male' && ageClass == 11" class="col text-center">1.6</div>
  <div ng-if="gender == 'male' && ageClass == 11" class="col text-center">-</div>
  <div ng-if="gender == 'male' && ageClass == 11" class="col text-center">-</div>
  <div ng-if="gender == 'male' && ageClass == 12" class="col text-center">1.6</div>
  <div ng-if="gender == 'male' && ageClass == 12" class="col text-center">-</div>
  <div ng-if="gender == 'male' && ageClass == 12" class="col text-center">-</div>
  <div ng-if="gender == 'male' && ageClass == 13" class="col text-center">1.5</div>
  <div ng-if="gender == 'male' && ageClass == 13" class="col text-center">-</div>
  <div ng-if="gender == 'male' && ageClass == 13" class="col text-center">-</div>
  <div ng-if="gender == 'male' && ageClass == 14" class="col text-center">1.3</div>
  <div ng-if="gender == 'male' && ageClass == 14" class="col text-center">-</div>
  <div ng-if="gender == 'male' && ageClass == 14" class="col text-center">-</div>

  <div ng-if="gender == 'female' && ageClass == 1" class="col text-center">-</div>
  <div ng-if="gender == 'female' && ageClass == 1" class="col text-center">0.3</div>
  <div ng-if="gender == 'female' && ageClass == 1" class="col text-center">-</div>
  <div ng-if="gender == 'female' && (ageClass == 2 || ageClass == 3)" class="col text-center">-</div>
  <div ng-if="gender == 'female' && (ageClass == 2 || ageClass == 3)" class="col text-center">0.4</div>
  <div ng-if="gender == 'female' && (ageClass == 2 || ageClass == 3)" class="col text-center">-</div>
  <div ng-if="gender == 'female' && ageClass == 4" class="col text-center">0.5</div>
  <div ng-if="gender == 'female' && ageClass == 4" class="col text-center">-</div>
  <div ng-if="gender == 'female' && ageClass == 4" class="col text-center">-</div>
  <div ng-if="gender == 'female' && ageClass == 5" class="col text-center">0.8</div>
  <div ng-if="gender == 'female' && ageClass == 5" class="col text-center">-</div>
  <div ng-if="gender == 'female' && ageClass == 5" class="col text-center">-</div>
  <div ng-if="gender == 'female' && ageClass == 6" class="col text-center">0.9</div>
  <div ng-if="gender == 'female' && ageClass == 6" class="col text-center">-</div>
  <div ng-if="gender == 'female' && ageClass == 6" class="col text-center">-</div>
  <div ng-if="gender == 'female' && ageClass == 7" class="col text-center">1.0</div>
  <div ng-if="gender == 'female' && ageClass == 7" class="col text-center">-</div>
  <div ng-if="gender == 'female' && ageClass == 7" class="col text-center">-</div>
  <div ng-if="gender == 'female' && ageClass == 8" class="col text-center">1.3</div>
  <div ng-if="gender == 'female' && ageClass == 8" class="col text-center">-</div>
  <div ng-if="gender == 'female' && ageClass == 8" class="col text-center">-</div>
  <div ng-if="gender == 'female' && ageClass == 9" class="col text-center">1.4</div>
  <div ng-if="gender == 'female' && ageClass == 9" class="col text-center">-</div>
  <div ng-if="gender == 'female' && ageClass == 9" class="col text-center">-</div>
  <div ng-if="gender == 'female' && ageClass == 10" class="col text-center">1.4</div>
  <div ng-if="gender == 'female' && ageClass == 10" class="col text-center">-</div>
  <div ng-if="gender == 'female' && ageClass == 10" class="col text-center">-</div>
  <div ng-if="gender == 'female' && ageClass == 11" class="col text-center">1.2</div>
  <div ng-if="gender == 'female' && ageClass == 11" class="col text-center">-</div>
  <div ng-if="gender == 'female' && ageClass == 11" class="col text-center">-</div>
  <div ng-if="gender == 'female' && ageClass == 12" class="col text-center">1.2</div>
  <div ng-if="gender == 'female' && ageClass == 12" class="col text-center">-</div>
  <div ng-if="gender == 'female' && ageClass == 12" class="col text-center">-</div>
  <div ng-if="gender == 'female' && ageClass == 13" class="col text-center">1.1</div>
  <div ng-if="gender == 'female' && ageClass == 13" class="col text-center">-</div>
  <div ng-if="gender == 'female' && ageClass == 13" class="col text-center">-</div>
  <div ng-if="gender == 'female' && ageClass == 14" class="col text-center">1.1</div>
  <div ng-if="gender == 'female' && ageClass == 14" class="col text-center">-</div>
  <div ng-if="gender == 'female' && ageClass == 14" class="col text-center">-</div>
</div>
