<div class="row">
  <div class="col col-33">葉酸 (μg)</div>
  <div ng-if="gender == 'male' && ageClass == 1" class="col text-center">-</div>
  <div ng-if="gender == 'male' && ageClass == 1" class="col text-center">40</div>
  <div ng-if="gender == 'male' && ageClass == 1" class="col text-center">-</div>
  <div ng-if="gender == 'male' && (ageClass == 2 || ageClass == 3)" class="col text-center">-</div>
  <div ng-if="gender == 'male' && (ageClass == 2 || ageClass == 3)" class="col text-center">60</div>
  <div ng-if="gender == 'male' && (ageClass == 2 || ageClass == 3)" class="col text-center">-</div>
  <div ng-if="gender == 'male' && ageClass == 4" class="col text-center">90</div>
  <div ng-if="gender == 'male' && ageClass == 4" class="col text-center">-</div>
  <div ng-if="gender == 'male' && ageClass == 4" class="col text-center">200</div>
  <div ng-if="gender == 'male' && ageClass == 5" class="col text-center">100</div>
  <div ng-if="gender == 'male' && ageClass == 5" class="col text-center">-</div>
  <div ng-if="gender == 'male' && ageClass == 5" class="col text-center">300</div>
  <div ng-if="gender == 'male' && ageClass == 6" class="col text-center">130</div>
  <div ng-if="gender == 'male' && ageClass == 6" class="col text-center">-</div>
  <div ng-if="gender == 'male' && ageClass == 6" class="col text-center">400</div>
  <div ng-if="gender == 'male' && ageClass == 7" class="col text-center">150</div>
  <div ng-if="gender == 'male' && ageClass == 7" class="col text-center">-</div>
  <div ng-if="gender == 'male' && ageClass == 7" class="col text-center">500</div>
  <div ng-if="gender == 'male' && ageClass == 8" class="col text-center">180</div>
  <div ng-if="gender == 'male' && ageClass == 8" class="col text-center">-</div>
  <div ng-if="gender == 'male' && ageClass == 8" class="col text-center">700</div>
  <div ng-if="gender == 'male' && ageClass == 9" class="col text-center">230</div>
  <div ng-if="gender == 'male' && ageClass == 9" class="col text-center">-</div>
  <div ng-if="gender == 'male' && ageClass == 9" class="col text-center">900</div>
  <div ng-if="gender == 'male' && ageClass == 10" class="col text-center">250</div>
  <div ng-if="gender == 'male' && ageClass == 10" class="col text-center">-</div>
  <div ng-if="gender == 'male' && ageClass == 10" class="col text-center">900</div>
  <div ng-if="gender == 'male' && ageClass == 11" class="col text-center">240</div>
  <div ng-if="gender == 'male' && ageClass == 11" class="col text-center">-</div>
  <div ng-if="gender == 'male' && ageClass == 11" class="col text-center">900</div>
  <div ng-if="gender == 'male' && ageClass == 12" class="col text-center">240</div>
  <div ng-if="gender == 'male' && ageClass == 12" class="col text-center">-</div>
  <div ng-if="gender == 'male' && ageClass == 12" class="col text-center">1000</div>
  <div ng-if="gender == 'male' && ageClass == 13" class="col text-center">240</div>
  <div ng-if="gender == 'male' && ageClass == 13" class="col text-center">-</div>
  <div ng-if="gender == 'male' && ageClass == 13" class="col text-center">1000</div>
  <div ng-if="gender == 'male' && ageClass == 14" class="col text-center">240</div>
  <div ng-if="gender == 'male' && ageClass == 14" class="col text-center">-</div>
  <div ng-if="gender == 'male' && ageClass == 14" class="col text-center">900</div>

  <div ng-if="gender == 'female' && ageClass == 1" class="col text-center">-</div>
  <div ng-if="gender == 'female' && ageClass == 1" class="col text-center">40</div>
  <div ng-if="gender == 'female' && ageClass == 1" class="col text-center">-</div>
  <div ng-if="gender == 'female' && (ageClass == 2 || ageClass == 3)" class="col text-center">-</div>
  <div ng-if="gender == 'female' && (ageClass == 2 || ageClass == 3)" class="col text-center">60</div>
  <div ng-if="gender == 'female' && (ageClass == 2 || ageClass == 3)" class="col text-center">-</div>
  <div ng-if="gender == 'female' && ageClass == 4" class="col text-center">90</div>
  <div ng-if="gender == 'female' && ageClass == 4" class="col text-center">-</div>
  <div ng-if="gender == 'female' && ageClass == 4" class="col text-center">200</div>
  <div ng-if="gender == 'female' && ageClass == 5" class="col text-center">100</div>
  <div ng-if="gender == 'female' && ageClass == 5" class="col text-center">-</div>
  <div ng-if="gender == 'female' && ageClass == 5" class="col text-center">300</div>
  <div ng-if="gender == 'female' && ageClass == 6" class="col text-center">130</div>
  <div ng-if="gender == 'female' && ageClass == 6" class="col text-center">-</div>
  <div ng-if="gender == 'female' && ageClass == 6" class="col text-center">400</div>
  <div ng-if="gender == 'female' && ageClass == 7" class="col text-center">150</div>
  <div ng-if="gender == 'female' && ageClass == 7" class="col text-center">-</div>
  <div ng-if="gender == 'female' && ageClass == 7" class="col text-center">500</div>
  <div ng-if="gender == 'female' && ageClass == 8" class="col text-center">180</div>
  <div ng-if="gender == 'female' && ageClass == 8" class="col text-center">-</div>
  <div ng-if="gender == 'female' && ageClass == 8" class="col text-center">700</div>
  <div ng-if="gender == 'female' && ageClass == 9" class="col text-center">230</div>
  <div ng-if="gender == 'female' && ageClass == 9" class="col text-center">-</div>
  <div ng-if="gender == 'female' && ageClass == 9" class="col text-center">900</div>
  <div ng-if="gender == 'female' && ageClass == 10" class="col text-center">250</div>
  <div ng-if="gender == 'female' && ageClass == 10" class="col text-center">-</div>
  <div ng-if="gender == 'female' && ageClass == 10" class="col text-center">900</div>
  <div ng-if="gender == 'female' && ageClass == 11" class="col text-center">240</div>
  <div ng-if="gender == 'female' && ageClass == 11" class="col text-center">-</div>
  <div ng-if="gender == 'female' && ageClass == 11" class="col text-center">900</div>
  <div ng-if="gender == 'female' && ageClass == 12" class="col text-center">240</div>
  <div ng-if="gender == 'female' && ageClass == 12" class="col text-center">-</div>
  <div ng-if="gender == 'female' && ageClass == 12" class="col text-center">1000</div>
  <div ng-if="gender == 'female' && ageClass == 13" class="col text-center">240</div>
  <div ng-if="gender == 'female' && ageClass == 13" class="col text-center">-</div>
  <div ng-if="gender == 'female' && ageClass == 13" class="col text-center">1000</div>
  <div ng-if="gender == 'female' && ageClass == 14" class="col text-center">240</div>
  <div ng-if="gender == 'female' && ageClass == 14" class="col text-center">-</div>
  <div ng-if="gender == 'female' && ageClass == 14" class="col text-center">900</div>
</div>
